.row
  .col-md-8
    .row
      .col-sm-12
        %p.lead.drop-cap
          = t ".intro"
      .col-sm-12.col-md-4.col-md-offset-8
        = link_to "#projects", class: "btn btn-lg btn-primary home-call_to_action" do
          %span.glyphicon.glyphicon-arrow-right{aria: {hidden: "true"}}
          = t(".call_to_action")
  - if @contacts.present?
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h2 Contact
        %ul.list-group
          - @contacts.each do |contact|
            %li.list-group-item
              = mail_to contact.email, contact.name
.row.home-institutes
  .col-sm-12
    %h2= t(".institutes")
  .col-sm-12
    - @institutes.each do |institute|
      .row.home-institute
        .col-xs-12
          %h3.home-institute-title
            = link_to institute.name, institute.url, target: "_blank"
        .hidden-xs.col-sm-6.col-md-4
          - institute.illustrations.each do |illustration|
            = image_tag illustration.picture.url, class: 'img-responsive'
        .col-sm-6.col-md-8
          .row
            .col-xs-12.col-md-9
              %p.home-institute-description=raw institute.description
              - if institute.laboratories.present?
                %h4= t("institutes.show.laboratories.title")
                %ul
                  - institute.laboratories.each do |laboratory|
                    %li
                      = link_to laboratory.name, laboratory.url, {target: "_blank"}
              - if institute.logo
                = link_to institute.url, class: "img-link pull-right home-institute-logo-link" do
                  = image_tag(institute.logo.picture.url, class: "home-institute-logo img-responsive")


.row#projects.home-projects
  .col-sm-12
    %h2.home-projects-title= t(".projects")
    - @projects.each do |project|
      .well.home-project
        = link_to project_path(project, format: 'modal'), data: {toggle: "modal", target: "#modal"} do
          %h4
            %small= project.laboratory.name
            %br= project.name
