%p#contacts
  %em
    Contacts:
  =raw @contacts.map{|contact| mail_to(contact[:email], contact[:name], :encode => 'hex', :class => 'email')}.join(', ')
%section#section_de_biologie
  .group
    = image_tag "section_de_biologie.jpg"
    %h1
      = t('.section_de_biologie.h1')+':'
      = link_to t('.section_de_biologie.genev.text'), t('.section_de_biologie.genev.url'), :title => ('.section_de_biologie.genev.text')
      = t('.section_de_biologie.and')
      = link_to t('.section_de_biologie.micbio.text'), t('.section_de_biologie.micbio.url'), :title => ('.section_de_biologie.micbio.text')
    .group
      = image_tag "sciences50.png"
      %p= t('.section_de_biologie.text')
%section#conservatoire_et_jardin_botaniques
  .group
    = image_tag "jardin_botanique.jpg"
    %h1= link_to t('.conservatoire_et_jardin_botanique.link.text'), t('.conservatoire_et_jardin_botanique.link.url')
    .group
      = image_tag "jardin_botanique_logo.png"
      %p= t('.conservatoire_et_jardin_botanique.text')
%section#museum_d_histoire_naturelle
  .group
    = image_tag "museum_d_histoire_naturelle.jpg"
    %h1= link_to t('.museum_d_histoire_naturelle.link.text'), t('.museum_d_histoire_naturelle.link.url')
    .group
      = image_tag "museum_d_histoire_naturelle_logo.png"
      %p= t('.museum_d_histoire_naturelle.text')