!!! 5
%html(lang="en")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Biodiv"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
  %body
    / %nav.navbar.navbar-default{role: "navigation"}
    /   .container
    /     %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
    /       %span.icon-bar
    /       %span.icon-bar
    /       %span.icon-bar
    /     = link_to "Biodiv", root_path, class: "navbar-brand"
    /     .navbar-collapse.collapse.navbar-responsive-collapse
    /       %ul.nav.navbar-nav
    /         %li= link_to t("navigation.projects"), projects_path
    /       %ul.nav.navbar-nav.navbar-right
    /         %li= locale_links
    .container
      .row
        .col-sm-12.clearfix
          %ol.breadcrumb.pull-left
            %li= link_to t("navigation.unige"), "http://unige.ch"
            %li= link_to t("navigation.facsci"), "http://unige.ch/sciences"
            %li= link_to t("navigation.biolo"), "http://biologie.unige.ch"
          = locale_links
        .col-lg-2
          %a.unige_logo{href: "http://unige.ch", target: "blank_", title: "Université de Genève"}
            Université de Genève
        .col-lg-10
          .jumbotron
            %h1
              = link_to root_path do
                .small= t "title_1"
                =raw t "title_2"
    .container
      .row
        .col-lg-12
          = bootstrap_flash
      = yield
    #modal.modal.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "myModalLabel", hidden: "true"}}
      .modal-dialog
        .modal-content
    %footer.footer
      .container
        %p.text-muted=raw "&copy; University of Geneva #{Date.today.year}"
